db.sqlite3
static
.tags
.*.sw*
.#*
*.log
.vscode
ml_models

# Node
node_modules

# SASS
.sass-cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# java extensions
*.jar

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Mr Developer / eclipse pydev
.mr.developer.cfg
.project
.pydevproject
.settings

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Pycharm
.idea

# Vim
*~
*.swp
*.swo

# Tx
.transifexrc
